.card {
  padding: 1rem;
  border: 1px lightgray solid;
  margin: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.mauve_icon {
  background-color: #8a2be2; /* Couleur mauve */
}
.whiteColor {
  color: white;
}
.ShareButton {
  background-color: gray !important;
  color: #fff;
  margin-left: 10px;
}

.custumer_position {
  display: flex;
  justify-content: space-between;
}
